body {
  background-color: #111;
}

.counterCard {
  background: #222;
}

@media (min-width: 993px) {
  .userImg {
    width: 8rem;
    height: 8rem;
    transition: 0.75s;
  }
}

@media (min-width: 993px) {
  .mainOdometer {
    font-size: 5rem;
  }
}

@media (min-width: 993px) {
  .smallOdo {
    font-size: 2rem;
  }
}

@media (min-width: 993px) {
  .bottomText {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .userImg {
    width: 6rem;
    height: 6rem;
    transition: 0.75s;
  }
}

@media (max-width: 992px) {
  .mainOdometer {
    font-size: 3.67rem;
  }
}

@media (max-width: 992px) {
  .smallOdo {
    font-size: 1.75rem;
  }
}

@media (max-width: 992px) {
  .username {
    font-size: 1.75rem;
  }
}

@media (max-width: 992px) {
  .bottomText {
    font-size: 1.07rem;
  }
}

@media (max-width: 767px) {
  .userImg {
    width: 5rem;
    height: 5rem;
    transition: 0.75s;
  }
}

@media (max-width: 767px) {
  .mainOdometer {
    font-size: 2.7rem;
  }
}

@media (max-width: 767px) {
  .smallOdo {
    font-size: 1.37rem;
  }
}

@media (max-width: 767px) {
  .username {
    font-size: 1.35rem;
  }
}

@media (max-width: 767px) {
  .bottomText {
    font-size: 0.925rem;
  }
}

@media (max-width: 575px) {
  .userImg {
    width: 6.5rem;
    height: 6.5rem;
    transition: 0.75s;
  }
}

@media (max-width: 575px) {
  .mainOdometer {
    font-size: 4rem;
  }
}

@media (max-width: 575px) {
  .smallOdo {
    font-size: 2.35rem;
  }
}

@media (max-width: 575px) {
  .username {
    font-size: 1.77rem;
  }
}

@media (max-width: 575px) {
  .bottomText {
    font-size: 1.1rem;
  }
}

@media (max-width: 467px) {
  .userImg {
    width: 4.5rem;
    height: 4.5rem;
    transition: 0.75s;
  }
}

@media (max-width: 467px) {
  .mainOdometer {
    font-size: 2.25rem;
  }
}

@media (max-width: 467px) {
  .smallOdo {
    font-size: 1.7rem;
  }
}

@media (max-width: 467px) {
  .username {
    font-size: 1.25rem;
  }
}

@media (max-width: 467px) {
  .bottomText {
    font-size: 0.9rem;
  }
}

.odometer {
  font-family: unset;
  text-align: center;
}

.smallOdo {
  white-space: pre-line;
}

.searchPfp {
  width: 4rem;
  height: 4rem;
  transition: 0.75s;
}

#app-navbar-twitter {
  background: linear-gradient(120deg, #3b7bdc, #1ea6cf);
}

#app-navbar-triller {
  background: linear-gradient(120deg, #e6226d, #8a135c);
}

#app-navbar-twitch {
  background: linear-gradient(120deg, #6200b3, #9908ec);
}

#app-navbar-discord {
  background: linear-gradient(120deg, #1f2f66, #7289DA);
}

#app-navbar-tiktok {
  background: linear-gradient(120deg, #1aa2b4, #e70551);
}

