.socialLogo {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialLogo img {
  width: 10rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.circleYT {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, rgba(255, 4, 0, 0.75), rgba(199, 0, 0, 0.75) );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(80deg);
}

.circleTwitter {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, rgba(0, 68, 255, 0.75), rgba(2, 150, 219, 0.75) );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(180deg);
}

.circleTwitch {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, rgba(153, 0, 255, 0.75), rgba(77, 0, 112, 0.75) );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(80deg);
}

.circleTriller {
  width: 7.5rem;
  height: 7.5rem;
  background: linear-gradient( to right, #e6226d, #8a135c );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(80deg);
}

.circleTiktok {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, #1aa2b4, #e70551 );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(80deg);
}

.circleStoryfire {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, #ff0000, #f35d06 );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(45deg);
}

.circleInstagram {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, #fa811f, #ee413f );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(120deg);
}

.circleReddit {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, #ff3300, #ff7300 );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(45deg);
}

.circleDiscord {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, #1f2f66, #7289DA );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(45deg);
}

.circleGab {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, #47e694, #189354 );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(45deg);
}

.circleMinecraft {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, #593f3d, #3d3028 );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(45deg);
}

.circleNasdaq {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, #00b6df, #0a7d97 );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(45deg);
}

.circleSoundcloud {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, #ff7700, #FE5000 );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(45deg);
}

.circleNC {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, #0083db, #063dd3 );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(45deg);
}

.circleUtreon {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, #009ccc, #0479cd );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(45deg);
}

.circleTeamtrees {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, rgb(25, 109, 74), rgb(111, 186, 13) );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(45deg);
}

.circleTeamseas {
  width: 8.5rem;
  height: 8.5rem;
  background: linear-gradient( to right, rgb(1, 96, 153), rgb(181, 220, 225) );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(45deg);
}

.socialInfo h1 {
  font-size: 3rem;
  color: #c0c0c0;
}

.socialInfoW h1 {
  font-size: 3rem;
  color: #171717;
}

.counters button {
  padding: 0.5rem 2rem;
  border: none;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

body {
  perspective: 1000px;
}

.trillerBtn {
  background-color: #f7375d;
}

#lightSwitch {
  display: none;
}

